.navbar-brand {
  color:ivory;
  font-weight: 300;
  font-size: 65px;
  text-transform: uppercase;
}

.nav-item a {
  color:ivory;
}

#hero {
  background-image: url(./images/image0.jpeg);
  background-size: cover;
  background-position: center bottom;
}

#hero h2 {
  padding-top: 500px;
}

#navbardefault .nav-link div:hover {
  border-bottom: 2px solid #fff;
}
